Repository wp-cli/extension-command, pull requests merged in 2018-07, with the labels that each got.

#105 fix theme test
  features/theme.feature
Labels: command:theme-activate, command:theme-disable, command:theme-enable, command:theme-install, scope:testing

#109 fix mustache files paths
  src/Plugin_Command.php
  src/Theme_Command.php
Labels: command:plugin-status, command:theme-status

#112 fix mustache fites paths
  src/Plugin_Command.php
  src/Theme_Command.php
Labels: command:plugin-status, command:theme-status

#108 Search: Add plugin or theme's URL on wordpress.org
  README.md
  src/Plugin_Command.php
  src/Theme_Command.php
  src/WP_CLI/CommandWithUpgrade.php
Labels: command:plugin-search, command:theme-search

#103 Add --all flag to plugin delete
  features/plugin-delete.feature
  src/Plugin_Command.php
Labels: command:plugin-delete
