Repository wp-cli/extension-command, pull requests merged in 2018-10, with the labels that each got.

#137 Revert "Throw error in theme fetcher on non-lowercase slugs"
  features/plugin-activate.feature
  features/theme.feature
  src/WP_CLI/Fetchers/Theme.php
Labels: command:theme-install, command:theme-update

#138 wp plugin delete <plugin-name> not working if path has a space or & in it
  src/Plugin_Command.php
Labels: command:plugin-delete

#139 Use "installation" instead of "install"
  features/theme.feature
  src/Theme_Command.php
Labels: scope:testing

#140 Add support for Probot `move` command
  .github/move.yml
Labels: scope:distribution
