Repository wp-cli/extension-command, pull requests merged in 2019-03, with the labels that each got.

#158 Allow deleting the currently active theme
  features/theme-delete.feature
  src/Theme_Command.php
Labels: command:plugin-delete, command:theme-delete

#146 Handle extension activation for WP error or extension not found
  features/extension-install.feature
  src/WP_CLI/CommandWithUpgrade.php
Labels: command:plugin-install, command:theme-install

#157 Display warning in plugin list info if plugin version is higher than expected
  features/plugin.feature
  src/Plugin_Command.php
  src/Theme_Command.php
  src/WP_CLI/CommandWithUpgrade.php
Labels: command:plugin-list, command:theme-list
