Repository wp-cli/extension-command, pull requests merged in 2022-11, with the labels that each got.

#338 Don't report an error when 5 out of 5 plugins were updated
  features/plugin-update.feature
  features/plugin.feature
  src/WP_CLI/CommandWithUpgrade.php
Labels: command:plugin, command:plugin-update

#335 remove extra space
  src/Plugin_Command.php
Labels: scope:documentation

#342 Fix failing PHP 5.6 tests by requiring WP 5.2
  features/plugin-update.feature
  features/plugin.feature
Labels: command:plugin, command:plugin-update, scope:testing
