Repository wp-cli/extension-command, pull requests merged in 2023-02, with the labels that each got.

#349 Avoid deleting theme if the specified version cannot be found
  features/theme-update.feature
  features/theme.feature
  src/Theme_Command.php
Labels: bug, command:theme, command:theme-update

#350 Include optional 'auto_updates' field in plugin and theme lists
  README.md
  features/plugin.feature
  features/theme.feature
  src/Plugin_Command.php
  src/Theme_Command.php
  src/WP_CLI/CommandWithUpgrade.php
  src/WP_CLI/ParseThemeNameInput.php
Labels: command:plugin, command:theme, command:plugin-list, command:theme-list

#351 Add format option to wp plugin|theme auto-updates status
  features/plugin-auto-updates-status.feature
  features/theme-auto-update-status.feature
  src/Plugin_AutoUpdates_Command.php
  src/Theme_AutoUpdates_Command.php
Labels: command:plugin-auto-updates-status, command:theme-auto-updates-status

#352 Replace empty namespace autoloader with classmap
  composer.json
Labels: scope:documentation
