Repository wp-cli/extension-command, pull requests merged in 2024-04, with the labels that each got.

#417 Update the theme in feature tests
  features/theme-delete.feature
  features/theme-install.feature
  features/theme-update.feature
  features/theme.feature
  features/upgradables.feature
Labels: scope:testing

#414 Show additional plugin headers values in `wp plugin get <plugin>` output
  README.md
  features/plugin-get.feature
  src/Plugin_Command.php
Labels: command:plugin-get

#418 Replace User Switching from feature tests
  features/plugin-activate.feature
Labels: scope:testing

#419 Improve warning message for install and activate multiple themes
  features/theme-install.feature
  src/Theme_Command.php
Labels: command:theme, command:theme-install

#413 Add `tested_up_to` field
  features/plugin.feature
  src/Plugin_Command.php
Labels: command:plugin-list

#421 Add support for GitHub release installation
  features/plugin-install-github-latest.feature
  src/WP_CLI/CommandWithUpgrade.php
Labels: command:plugin-install
